[Desktop Entry]
Name=Plistoid
Comment=plista monitor
Icon=chronometer

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=200,200

X-KDE-PluginInfo-Author=Moritz Schmidt
X-KDE-PluginInfo-Email=fusselwurm@gmail.com
X-KDE-PluginInfo-Name=plistoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-RequiredExtensions=http